nav
  ul
    li: a(href="/guides") Guides
    li: a(href="/documentation") Documentation
    li: a(href="/examples") Examples
    li: a(href="/download") Download
    li: a(href="/about") About








