nav
  ul(class="nav navbar-nav" role="navigation")
    li: a(href="/guides") Guides
    li: a(href="/documentation") Documentation
    li: a(href="/gallery") Gallery
    li: a(href="/download") Download
    li: a(href="/about") About
