nav
  ul(class="nav navbar-nav" role="navigation")
    li: a(href="/documentation") Documentation
    li: a(href="/examples") Examples
    li: a(href="/download") Download
    li: a(href="/about") About Oskari
    li
        form(method="GET", class="navbar-form", action="/search") 
            div(class="form-group")
                input(type="text", name="q", placeholder="Search...", class="form-control")







