extends layout

block main
  h1 About this site

  div.row
    div.col-md-12
        p This is a support site for the Oskari software. Oskari is an open source software for building web maps and displaying and analyzing geospatial data. Oskari supports the EU directive INSPIRE and OGC standards. 
        p This site contains technical instructions for using, configuring and developing the software. The documentation on this site assumes the reader is somewhat familiar with the basic geographical protocols used extensively in GIS applications, such as WMS (Web Map Service) and WFS (Web Feature Service).
        p Also, experience in JavaScript and/or Java development is required to read and understand the developer documentation.

    div.col-md-4
      h2 Follow Oskari
      div.col-md-12
        div.panel.panel-info
          div.panel-heading
            :markdown-it
  
              ### Twitter [@oskari.org](https://twitter.com/oskari_org)
              Follow us at Twitter to get additional exposure to the community.

              ### [Developer blog](https://oskariorg.github.io/)
              Developer blog contains memos from the PSC-meetings and and is the place for posts about development related experiences.

              ### [Meetups or webinars](https://www.meetup.com/Oskari-Your-geospatial-friend/)
              Host an Oskari event or join them. We'll try to arrange Oskari-meetups every two months - you can always ask us for a visit!
              
              ### Newsletter ([Order here](https://oskari.us17.list-manage.com/subscribe/post?u=253c109a78589154d2a011276&id=5f8a9cf6a6))
              Oskari newsletter will be sent 4 times a year. Subscribe Oskari news to your email.

    div.col-md-4
      h2 Ask for help
      div.col-md-12
        div.panel.panel-info
          div.panel-heading
            :markdown-it
              Or give us a hint what you are up to.
              ### [Oskari-user@lists.osgeo.org](mailto:Oskari-user@lists.osgeo.org)
              The mailing list is the main contact point for anything Oskari related. If you have something Oskari related on you mind ask for ideas or support from the mailing list.

              It can be used to discuss anything between developers, PSC and other interested parties of the community. 

              The mailing list is open and search engines can find the discussion threads. This helps finding solutions for already asked questions.

              ### [Gitter](https://gitter.im/oskariorg/chat)
              For things that are more easily dealt with in a chat environment instead of emails. 

              If you need to ask something really quick or need more interactive collaboration you can use Gitter.
              The history of the chat discussions are lost rather quickly so we encourage to use the mailing list.
              Please chat in English so everyone can participate in the discussion.

    div.col-md-4
      h2 Share your work
      div.col-md-12
        div.panel.panel-info
          div.panel-heading
            :markdown-it
              ### Contributing
              If you have any additions, suggestions or corrections to the content of the site or Oskari in general you can report an 
              [issue](https://github.com/oskariorg/oskari-docs/issues) on GitHub or better yet make
              a [pull request](/documentation/development/how-to-contribute).

              Your help is greatly appreciated!
              ### [License](/documentation/development/license)

              ### [Mail to us](mailto:info@oskari.org) 
              Contact Oskari Community Manager if you want to share your project or use case in these web pages or have some other Oskari Community issues on your mind. 
