extends layout

block main
  :markdown
    # About this site

    The documentation on this site assumes the reader is somewhat familiar with the basic
    geographical protocols used extensively in GIS applications, such as
    WMS (Web Map Service) and WFS (Web Feature Service). Also, experience in
    JavaScript and/or Java development is required to read and understand the frontend and
    the backend documentation, respectively.

    The source code and content can be found on [Github](https://github.com/nls-oskari/oskari.org).
    If you have any additions, suggestions or corrections to the content of the site, please make a pull request.
    Your help is greatly appreciated!

    ## Contact

    Join the IRC channel `#Oskari` on the `freenode` network.

    Find [@oskari_org](https://twitter.com/oskari_org) at Twitter.