extends layout

block main
  div Oskari version:
    select
        each val in api
            option= val.version


        
  div(id="bundlenavi")  
    ul
        each bundles, ns in api[0].api
            li= ns
                ul
                    each index, bundle in bundles
                        li= bundle

  div(id="bundlecontent") Select a version to see content

  script(type="text/javascript" src=assetFingerprint("/js/apidoc.js"))