extends layout

block main

  :markdown
    # Oskari API
    Oskari API is defined as bundles. Bundle is a definition of functionality that may have external API.

  div
      div.col-md-4
        div.panel.panel-warning
          div.panel-heading
            h4. Setup custom Oskari installation

          div.panel-body
            :markdown
              [See the bundle documentation](/api/bundles)

      div.col-md-4
        div.panel.panel-warning
          div.panel-heading
            h4. Controlling existing Oskari application

          div.panel-body
            :markdown
              [See the request documentation](/api/requests)

      div.col-md-4
        div.panel.panel-warning
          div.panel-heading
            h4. Reacting to events in Oskari application

          div.panel-body
            :markdown
              [See the event documentation](/api/events)