extends layout

block main
  :markdown
    # Oskari Challenge

  div.row
      div.col-md-8
        :markdown
          ###Oskari.org is an open source platform for browsing, sharing and analyzing of geographic information from distributed data sources. In our opinion it will be the best platform for building geodata services ever! Even though it is great and easy to use, there is always room for improvement.
          ###**That is why we challenge you to think of brilliant ways to enhance Oskari!**
      div.col-md-4
        :markdown
          ![Oskari_logo](/images/oskari_logo_rgb.png)

  div.row
      div.col-md-8
        :markdown
          > What would make Oskari the best geodata service platform in the world? <br>
          > What kind of user interface should Oskari Platform have to become the best and easiest to use? What elements and tools should it have? <br>
          > What features are not yet fully tested or existing in Oskari or should be developed further? <br>

          You can also come up with an idea of your own Oskari-based service and describe the purpose, intended audience, their expectations and how Oskari could fulfill them. The contribution could also be about how to advertise and spread knowledge of the Oskari Platform - how to reach developers in various communities and enlarge a working network?

          Oskari Challenge is open! The best Oskari-based application is awarded with 3000 €. The best concept is awarded with 1000 €. Two honorable mentions of 1000 € are also awarded.

          The proposals due by 31st of January 2015 and should contain a short written description, screenshots and source code of the application. No source code is required for the Best Concept -challenge.

          Feel free to ask us if you have further questions!

          ### How to take part in Oskari Challenge

          1.  Branch or Download Oskari platform source code version 1.23 or later. Source code can be found in GitHub at https://github.com/nls-oskari or through http://www.oskari.org/download 
          2.  Develop your application
          3.  Make the code available through GitHub
          4.  Write a short description of the proposal with screenshots, slideshow or a video of the application or the concept
          5.  For Best application proposals, send information of the GitHub repository / branch by email to oskari@nls.fi. Other material may also be sent by email. For Best concept proposals, send the proposal by email to oskari@nls.fi 
          6.  Proposals are due by **31st of January 2015**

          ### Prizes

          * Oskari Challenge has two categories:      
            - Best application / bundle 3000 €              
            - Best concept 1000 €

          * In addition, two honorable mentions 1 000 € each are awarded

          ### Terms & Conditions

          * Anyone can take part in Oskari Challenge, with the exception of NLS FI personnel and consultants working for NLS FI
          * Each participant may submit one or more proposals
          * The proposals shall be released with a license compatible with Oskari licensing. Please see http://oskari.org/documentation/development/license
          * The board of the Oskari Network nominates the winners. Board members shall refrain from decision making, if a proposal is submitted by someone from their home organization
          * The winners are announced at Oskari.org website and contacted personally
          * The winners are responsible for any applicable taxes when receiving the prize
          * The organizers reserve the right to modify terms and conditions if deemed necessary. The date of terms and conditions is displayed on the web page. Participants of the challenge will be notified by email of any significant changes to terms and conditions