extends layout

block main
  div.row
    div.col-md-12

      :markdown-it
          # Community
          These pages help our growing community to gain more from the development! Feel free to share your ideas, wishes and upcoming projects on Oskari with us. We blog about Oskari projects and how to use it together with other tools.

  div.row
    div.col-md-6

      :markdown-it
        ## Contributing to Oskari

        The documentation below describes the internal workings of Oskari and
        helps you to extend it to your needs and make meaningful contributions
        for the community!

        * [How to contribute/Getting involved](/documentation/development/how-to-contribute)
        * [Reporting issues and documenting roadmap](/documentation/development/issuetypes)
        * [Roadmap](https://github.com/oskariorg/oskari-docs/labels/roadmap)
        * [Git process used by NLS](/documentation/development/oskari-git-process)
        * [Guidelines](/documentation/development/guidelines)
        
    div.col-md-6

      :markdown-it
        ## Community pages

        * [Community goals](/community/community_goals)
        * [Joint development forum](/community/JDF)
        * [Oskari Community](/community/oskari_community)
        * [Privacy policy](/community/privacy-policy)
        * [Community roles](/community/roles)
        * [Community styleguide](/community/styleguide)
        * [Crowdfunding](/community/crowdfunding)
