extends layout

block main
  :markdown
    # Contributing to Oskari

  div.row
    div.col-md-12

      :markdown
        The documentation below describes the internal workings of Oskari and
        helps you to extend it to your needs and make meaningful contributions
        for the community!

        * [How to contribute/Getting involved](/documentation/development/how-to-contribute)
        * [Reporting issues and documenting roadmap](/documentation/development/issuetypes)
        * [Roadmap](https://github.com/oskariorg/oskari-docs/labels/roadmap)
        * [Git process used by NLS](/documentation/development/oskari-git-process)
        * [Guidelines](/documentation/development/guidelines)

  div.row
    div.col-md-12
        div.panel.panel-info
          div.panel-heading
            :markdown
              ### GitHub
              [GitHub](https://github.com/oskariorg) is used for issue tracking, Oskari source code and most [content for this site](https://github.com/oskariorg/oskari-docs):

              * [Oskari frontend](https://github.com/oskariorg/oskari-frontend)
              * [Oskari server](https://github.com/oskariorg/oskari-server)
              * [Template for extending oskari-server functionality](https://github.com/oskariorg/oskari-server-extension-template)
              * [Sample configurations](https://github.com/oskariorg/sample-configs)
              * [RPC client library](https://github.com/oskariorg/rpc-client)

              Reporting issues for any part of Oskari: https://github.com/oskariorg/oskari-docs/issues

              Roadmap:
              https://github.com/oskariorg/oskari-docs/labels/roadmap

              If you have any additions, suggestions or corrections to the content of the site or Oskari in general [please make a pull](/documentation/development/how-to-contribute) request.

              Your help is greatly appreciated!

              [License](/documentation/development/license)