extends layout

block main
  :markdown
   # Documentation

  div.row
    div.col-md-4
      :markdown
        ## Oskari

        #### Basics
        * [Architecture](/documentation/architecture_basics)
        * [Features](/documentation/features)
        * [Development basics](/documentation/development_basics)
        * [Development environment](/documentation/development-environment)

        #### Setup
        * [Creating the database](/documentation/backend/setup-database)
        * [Populating the database](/documentation/backend/database-populate)
        * [Setup Jetty](/documentation/backend/setup-jetty)
        * [Setup Development environment](/documentation/backend/setup-development)

        #### Configuration
        * [Customize properties](/documentation/backend/customize-properties)
        * [Customize initial demo data](/documentation/backend/database-customize-initial-data)
        * [Customize demo users](/documentation/backend/database-customize-users)

        #### Adding functionalities
        * [Installing the transport (WFS) service](/documentation/backend/installing-transport)
        * [Enable the my places module](/documentation/backend/enabling-myplaces)
        * [Enabling the analysis module](/documentation/backend/enabling-analyse)
        * [Enabling the user data store](/documentation/backend/enabling-user-data-store)
        * [User authentication](/documentation/backend/authentication)
        * [Setting up thematic map mode support](/documentation/backend/thematic-maps-setup)

        #### Development

        * [Roadmap 2015](/documentation/development/roadmap)
        * [How to contribute](/documentation/development/how-to-contribute)
        * [Oskari API documentation](/api/latest)
        * [Guidelines](/documentation/development/guidelines)
        * [Localization](/documentation/development/localization)
        * [Tools](/documentation/development/tools)
        * [Feature: changing mode](/documentation/development/changing-mode)
        * [Supported/used 3rd party Javascript libraries](/documentation/libraries)
        * [Adding 3rd party Javascript libraries](/documentation/development/adding-libraries)
        * [Minifying code for production](/documentation/minification)

    div.col-md-4
      :markdown
        ## Frontend

        #### Overview

        * [Architecture](/documentation/development/architecture)
        * [Folder structure in code](/documentation/directory-structure)

        #### Core Concepts

        * [Oskari Application](/documentation/core-concepts/oskari-application)
        * [Oskari Bundle](/documentation/core-concepts/oskari-bundle)
         * [Oskari bundle manager/loader](/documentation/core-concepts/bundle-manager)
         * [Bundle docs](/documentation/bundles)
        * [Oskari class](/documentation/core-concepts/oskari-class)
        * [Oskari core and sandbox](/documentation/core-concepts/oskari-core)
        * [Bundle communication: Request](/documentation/core-concepts/oskari-request)
         * [List of Oskari requests](/documentation/core-concepts/request-list)
        * [Bundle communication: Event](/documentation/core-concepts/oskari-event)
         * [List of Oskari events](/documentation/core-concepts/event-list)
        * [Map plugin](/documentation/core-concepts/map-plugin)


        #### Data

        * [Bundle configuration](/documentation/core-concepts/oskari-bundle-configuration)
        * [Maplayer definitions](/documentation/data/maplayer-definitions)
         * [WMS layer data structure](/documentation/data/wms-layer)
         * [Base/Group layer data structure](/documentation/data/base-layer)
         * [WFS layer data structure](/documentation/data/wfs-layer)
         * [ArcGis93 layer data structure](/documentation/data/arcgis93layer)

        #### Protocols

        * [Module](/documentation/protocol/module)

        #### UI Components

        All components are currently part of the `divmanazer` bundle.

        * [Popup](/documentation/components/popup)
        * [Button](/documentation/components/button)
        * [Overlay](/documentation/components/overlay)
        * [Accordion](/documentation/components/accordion)
        * [Form](/documentation/components/form)
        * [Grid](/documentation/components/grid)
        * [Tab container](/documentation/components/tab-container)

    div.col-md-4
      :markdown
        ## Backend

        #### Overview
        * [Architecture](/documentation/backend/architecture_backend)
         * [Components](/documentation/architecture/components)
         * [Database tables](/documentation/backend/database-tables)
         * [Database structure](/documentation/architecture/database)
         * [WFS backend (transport)](/documentation/architecture/wfs)
        * [Folder structure in code (requires updating)](/documentation/backend/overview)
        * [Configuring dataset import](/documentation/backend/configuring-dataset-import)

        #### Basics

        * Action routes
         * [Adding action routes](/documentation/backend/adding-action-routes)
         * [Action routes](/documentation/backend/actionroutes)
        * [User management (outdated)](/documentation/backend/usermanagement)
        * [Layer permissions](/documentation/backend/permissions)
        * [Adding bundles based on role](/documentation/backend/adding-bundles)
        * [Search channels](/documentation/backend/searchchannels)
        * [Upgrading backend](/documentation/backend/upgrading)
        * [Writing upgrade scripts](/documentation/backend/upgrade_scripts)
        * [Adding user guide](/documentation/backend/adding-user-guide)



