extends layout

block main
    :markdown
        # Download

    div.row
        div.col-md-12
            div.panel.panel-warning
                div.panel-heading
                    h4 

                    div 
                        a.btn.btn-primary.btn-lg( href="/build/server/jetty-8.1.16-oskari.zip" ) Download Oskari Jetty bundle

                    div 
                        br   
                        p 
                            a( href="/documentation/backend/setup-jetty" ) Instructions 
                            on how to run and configure Oskari Jetty bundle.

                        p  Includes prebuilt and configured:
                            ul
                                li Oskari frontend code (
                                    a(href="https://github.com/nls-oskari/oskari", target="_blank") https://github.com/nls-oskari/oskari)
                                li Oskari server (map functionality:
                                    a(href="https://github.com/nls-oskari/oskari-server/tree/master/webapp-map", target="_blank")  https://github.com/nls-oskari/oskari-server/tree/master/webapp-map)
                                li Oskari transport (WFS services:
                                    a(href="https://github.com/nls-oskari/oskari-server/tree/master/webapp-transport", target="_blank")  https://github.com/nls-oskari/oskari-server/tree/master/webapp-transport)
                                li Oskari printout (Print services:
                                    a(href="https://github.com/nls-oskari/oskari-server/tree/master/servlet-printout", target="_blank")  https://github.com/nls-oskari/oskari-server/tree/master/servlet-printout)
                                li Geoserver 2.7.1 with WPS-plugin and Oskari extensions (
                                    a(href="https://github.com/nls-oskari/oskari-server/tree/master/geoserver-ext", target="_blank") https://github.com/nls-oskari/oskari-server/tree/master/geoserver-ext)


    div.row
        :markdown

            ## Github repositories

            * [Oskari JavaScript framework](https://github.com/nls-oskari/oskari)
            * [Oskari Server](https://github.com/nls-oskari/oskari-server) 
            * [Liferay 6.0.6 wrapper for Oskari Server](https://github.com/nls-oskari/oskari-liferay)

            Master branch has stable production ready code that is in use for example at ​[Demo.oskari.org](http://demo.oskari.org) and ​[Paikkatietoikkuna.fi](http://www.paikkatietoikkuna.fi/web/en).

            Develop branch has the most recent code which is more of a work in progress and may contain bugs.
            
            ## License
            
            Read about Oskari Source code licensing from [here](/documentation/development/license).