extends layout


block main
  :markdown
    # Examples

  div.container
    div.row
      :markdown
        ## Live sites using Oskari 

      div.col-md-4
        div.panel.panel-warning
          div.panel-heading
            h4. Paikkatietoikkuna.fi

          div.panel-body
            :markdown
              The most recent release version of Oskari is in use at Paikkatietoikkuna.
              <a href="http://www.paikkatietoikkuna.fi/web/en/map-window" target="_blank"><img src="/images/example_paikkatietoikkuna.PNG" width=320px>
              </a>
              [Technical details](/documentation/examples/technical_details_paikkatietoikkuna)

      div.col-md-4
        div.panel.panel-warning
          div.panel-heading
            h4. Lupapiste

          div.panel-body
            :markdown
              A service for permits, in the early stage only construction permits are handled. The map is available after registration.
              <a href="https://www.lupapiste.fi/" target="_blank"><img src="/images/example_lupapiste.PNG" width=320px>
              </a>
              

      div.col-md-4
        div.panel.panel-warning
          div.panel-heading
            h4. Harava

          div.panel-body
            :markdown
              A survey service for residents to participate in the local planning and construction. The map is used for example in the ​[Harava proto](http://query.eharava.fi/325?lang=en) (click next to get to the 2nd page with the map).
              <a href="http://query.eharava.fi/325?lang=en" target="_blank"><img src="/images/example_harava.PNG" width=320px>
              </a>

    <hr>

    div.row
      div.col-md-4
        :markdown
          ## Sample definitions:
          * [Sample bundle definition](/guides/quick-start/sample-bundle-definition)
          * [Sample instance definition](/guides/quick-start/sample-instance-definition)
          * [Sample request definition](/documentation/core-concepts/oskari-request)
          * [Sample request handler definition](/documentation/core-concepts/oskari-request)

      div.col-md-4
          :markdown
              ## Hooks for custom extensions:
              * [Adding action routes](/documentation/backend/adding-action-routes)
              * [Adding search channels](/documentation/backend/searchchannels)

        div.col-md-4
        :markdown
          ## Case examples:
          * [Installing parcel application](/documentation/backend/custom-install-parcel)

