extends layout


block main
  :markdown-it
    # Gallery

  div.container
    div.row
      :markdown-it
        ## Oskari use cases

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Paikkatietoikkuna.fi

          div.panel-body
            p  The most recent release version of Oskari is in use at Paikkatietoikkuna.
              <a href="http://www.paikkatietoikkuna.fi/web/en/map-window" target="_blank"><img src="/images/example_paikkatietoikkuna.png" class="img-responsive">
              </a>
              <a href="/documentation/examples/technical_details_paikkatietoikkuna">Technical details</a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Map service of Tampere City

          div.panel-body
            p  A service for viewing spatial data of Tampere City.
              <a href="https://kartat.tampere.fi/oskari" target="_blank"><img src="/images/example_tampere_map.png" class="img-responsive"></a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Suomi.fi Maps

          div.panel-body
            p  A centralised service for public sector organizations for creating and integrating maps and spatial data into websites and digital services. Site requires login.
              <a href="https://www.suomi.fi/palvelut/verkkoasiointi/suomi-fi-kartat-maanmittauslaitos/60aef76a-dc41-4903-a100-3b4b151375d8" target="_blank"><img src="/images/example_hallinnon_karttapalvelu.png" class="img-responsive">
              </a>

    div.row
      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Arctic SDI

          div.panel-body
            p  A geoportal providing a web map viewer to access the Reference Map Service covering the Arctic Region.
              <a href="http://geoportal.arctic-sdi.org/" target="_blank"><img src="/images/example_asdi.png"  class="img-responsive">
              </a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 The Icelandic Geoportal

          div.panel-body
            p Icelandic National Geoportal.
              <a href="http://kort.lmi.is" target="_blank"><img src="/images/example_icelandic_geoportal.png" class="img-responsive">
              </a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Liiteri

          div.panel-body
            p Liiteri provides information and statistical data about the built environment.
              <a href="http://liiteri.ymparisto.fi/" target="_blank"><img src="/images/example_liiteri.png" class="img-responsive">
              </a>

    div.row
      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Oskari in Tampere City

          div.panel-body
            p City of Tampere is a long term Oskari user. The maps service is the public view to the information the city provides to its citizens but Oskari is also in internal use with the city officials.
              <a href="https://kartat.tampere.fi/oskari/" target="_blank"><img src="/images/example_tampere_spatialdata.png" class="img-responsive">
              </a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Lounaistieto

          div.panel-body
            p Regional information service in South-West Finland provides a map service with regional geospatial datasets.
              <a href="https://karttapalvelu.lounaistieto.fi/" target="_blank"><img src="/images/gallery/lounaistieto.png"  class="img-responsive">
              </a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 HSY

          div.panel-body
            p Helsinki Environmental Services is one of the many organisations in Finland to use Oskari as a tool for external and internal GIS use.
              <a href="http://kartta.hsy.fi/" target="_blank"><img src="/images/example_hsy.png"  class="img-responsive">
              </a>

    div.row
      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 The Finnish Transport Infrastructure Agency - V채yl채

          div.panel-body
            p Oskari is used in many examples inside the "V채yl채" organisation: downloading open data, public participation and more.
              <a href="https://julkinen.vayla.fi/oskari/" target="_blank"><img src="/images/example_liikennevirasto.png"  class="img-responsive">
              </a>

      div.col-md-4
        div.panel.panel-warning.panelexample
          div.panel-heading
            h4 Real Estate Information Service

          div.panel-body
            p Browse up to date data of real estate information system of whole Finland. Requires registration.
              <a href="http://www.maanmittauslaitos.fi/aineistot-palvelut/verkkopalvelut/kiinteistotietopalvelu" target="_blank"><img src="/images/example_ktp.png"  class="img-responsive">
              </a>
