extends layout

block main
  :markdown
    # Guides

  div.row
    div.col-md-4
      :markdown
        ## Front-end developers
        
        For getting a grasp of the basics of Oskari front-end development, we recommend you begin with our [quick start guide](/guides/quick-start/my-first-bundle). It covers setting up the application setup, working with tiles and flyouts, using toolbar and creating your own bundle.

    div.col-md-4
      :markdown
        ## Back-end developers
        
        1. Follow the installation [guide](https://github.com/nls-oskari/oskari-server)

        2. Adding your own action routes [guide](https://github.com/nls-oskari/oskari-server/tree/master/service-control)

        3. Customize the application property values for your environment [guide](https://github.com/nls-oskari/oskari-server/blob/master/docs/CustomizingPropertyValues.md)

        4. Creating new location search channel services [guide](https://github.com/nls-oskari/oskari/blob/master/docs/md/backend/searchchannels.md)

    div.col-md-4
      :markdown
        ## Oskari contributors
        
        For now, see our [how to contribute document](/documentation/development/how-to-contribute).
