extends layout

block main

  :markdown
    # Guides
    If you are not familiar with Oskari we recommend that you first take a look at [Oskari - Basics](/documentation)

  div.container
    div.row
      :markdown
        ## Getting started
        #### What is your aim?

      div.col-md-6
        div.panel.panel-warning
          div.panel-heading
            h4. I want to develop only the User Interface (Quick start)

          div.panel-body
            :markdown
              This guide gives you a quick start to Oskari UI development.
              <br>
              <br>
              <br>
              [To the guide](/guides/quick-start/my-first-bundle)

      div.col-md-6
        div.panel.panel-warning
          div.panel-heading
            h4. I want to take the full advantage of Oskari

          div.panel-body
            :markdown
              This guide gives instructions on how to setup backend and frontend and how to start developing Oskari.
              <br>
              <br>
              [To the guide!](/guides/backend/getting-started)
    <hr>

    div.row
      div.col-md-6
        :markdown
          ## Other guides:
          * [RPC step by step](/guides/rpc-step-by-step)
          * [Oskari 2.0 Migration Guide](/guides/Oskari_2_Migration_Guide)
      div.col-md-6
        :markdown
          ## See frequently asked questions for getting advice!
          * [FAQ](/documentation/faq)

