extends layout

block main
  :markdown
    # Guides

  div.row
    div.col-md-4
      :markdown
        ## Front-end developers
        
        For getting a grasp of the basics of Oskari front-end development, we recommend you begin with our [quick start guide](/guides/quick-start/my-first-bundle). It covers setting up the application setup, working with tiles and flyouts, using toolbar and creating your own bundle.

    div.col-md-4
      :markdown
        ## Back-end developers
        
        1. Follow the [basic installation guide](/documentation/backend/server-embedded-developer)

        2. Adding your own [action routes](/documentation/backend/adding-action-routes)

        3. [Customize the application property values for your environment](/documentation/backend/customize-properties)

        4. [Creating new location search channel services](/documentation/backend/searchchannels)

    div.col-md-4
      :markdown
        ## Oskari contributors
        
        For now, see our [how to contribute document](/documentation/development/how-to-contribute).
