extends layout

block main
  :markdown
    # Guides

    For getting a grasp of the basics of Oskari front-end development, we recommend you begin with our [quick start guide](/guides/quick-start). It covers setting up the application setup, working with tiles and flyouts, using toolbar and creating your own bundle.

  div.row
    div.col-md-4
      :markdown
        ## Front-end developers
        
        Work in progress.

    div.col-md-4
      :markdown
        ## Back-end developers
        
        Work in progress.

    div.col-md-4
      :markdown
        ## Oskari contributors
        
        For now, see our [how to contribute document](/documentation/development/how-to-contribute).
