extends layout

block main
  :markdown
    # Developer Web Site for Oskari Platform

    Geographic data is often offered through stardard OGC interfaces or as Inspire Network services. Such interface services are meant to be consumed by computer applications. The use cases for data and maps are in browser-based applications, such as eGovernment services for different domains. To make these services work, various data sources need to be combined, data needs to be visualized and new information created by data analysis.

    The mission of Oskari platform is to offer easy-to-use, browser-based tools to access and re-use information from various data sources, including the Inspire Spatial Data Infrastructure (SDI) and the Finnish National SDI.

  div.row
    div.col-md-6
      div.panel.panel-danger
        div.panel-heading
          h2.panel-title Getting started

        div.panel-body
          :markdown
            * [Quick start](/guides/quick-start/my-first-bundle)
            * [Documentation](/documentation)

    div.col-md-6
      div.panel.panel-danger
        div.panel-heading
          h2.panel-title Current version

        div.panel-body
          :markdown
            The current stable version of Oskari is **1.22.0** which was released on 16th of June 2014. Get it from [here](/download)!

  div.row
    div.col-md-6
      :markdown
        ### Demo application

        A demo application showcasing various bundles of Oskari can be found at
        [demo.oskari.org](http://demo.oskari.org/).

        *NOTE!* The default setup does not
        currently include all available bundles. To see what else Oskari can offer, check out
        [the bundle documentation](/documentation/bundles).

    div.col-md-6
      :markdown
        ### FOSS4G 2014

      div.row
        div.col-md-3
          :markdown
            [![FOSS4G logo](/images/foss4g_logo.png)](https://2014.foss4g.org/)

        div.col-md-9
          :markdown
            Oskari team is going to Portland, Oregon to spread the joy of Oskari!
            The annual [FOSS4G conference](https://2014.foss4g.org/) is the largest
            global gathering focused on open source geospatial software and this
            year it'll be celebrating its 10th anniversary!
            We'll be holding a workshop focusing on website development
            using the Oskari framework. The workshop is scheduled on
            9th of September to which you can register [here](https://2014.foss4g.org/schedule/registration/).

  :markdown
    ## How is Oskari implemented?

    Oskari user interface is implemented as a collection of reusable bundles. Bundles are used as uniform containers to ship and share new functionality to the application setups. Additions to existing functionality are implemented as Plugins shipped within the bundles. Server-side functionality of the platform is implemented as a Java servlet, which can also be extended to handle new functionality. Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery. The developed Open Source code stitches these applications together and makes it possible to extend the functionality of the platform in a coordinated manner.

    Starting from the new Oskari versioning scheme 1.0+ provides applications with loose coupling and inter-bundle messaging with Requests and Events, configuration, application state and localization support. Loose coupling enables reusing bundles in different application setups.

    See [JavaScript libraries](/documentation/libraries) for a more complete list of libraries used and to be used.
