extends layout

block prelude
  div.frontpage-logobar
    div.container.landing-container
      <img src="/images/oskari_logo_rgb.png" alt="Oskari">
      div.row
        div.col-md-8.col-md-offset-1.text-center
          h1.landing
            span. Oskari is a framework for easily building multipurpose web mapping applications utilizing distributed Spatial Data Infrastructures like INSPIRE.
          <img src="/images/frontpage_example_desktop.png" class="landing-desktop-example" alt="mobile use">
        div.col-md-3
          <img src="/images/frontpage_example_mobile.png" class="landing-mobile-example" alt="mobile use">

block main

  div.container

  div.container
    div.col-md-4
      :markdown
        ## What is Oskari?
        #### Visualize and analyse spatial and statistical data, create embedded maps without programming, customize your own web map service etc.
        #### [Read more...](/about).

    div.col-md-4
      :markdown
        ## Open Source / contributing
        #### Oskari is developed openly on GitHub and code is released under Open Source Licenses (MIT/EUPL). Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery. [See contributing](/contributing) to get involved!

    div.col-md-4
      :markdown
        ## Deploying Oskari
        #### Do you want to run your own Oskari instance or use an existing Oskari to embed a map to another website?
        #### [Read more...](/documentation).

  <hr>

  div.container
    div.col-md-6
      div.panel.panel-warning
          div.panel-heading
            h4. How is Oskari implemented?

          div.panel-body
            :markdown
              * Oskari user interface is implemented as a collection of reusable bundles. Bundles are used as uniform containers to ship and share new functionality to the application setups.

              * Additions to existing functionality are implemented as Plugins shipped within the bundles.

              * Server-side functionality of the platform is implemented as a Java servlet, which can also be extended to handle new functionality.

              * Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery. The developed Open Source code stitches these applications together and makes it possible to extend the functionality of the platform in a coordinated manner.

              * Oskari enables controlled extensibility. The service platform is kept flexible: functionality can be added both to the user interface and the server, and the application libraries can be changed.


    div.col-md-6
      div.panel.panel-warning.news-panel
        div.panel-heading
          h4. Latest news:


        div.panel-body
          div.panel.panel-warning
              div.panel-body
                :markdown
                  #### Oskari is applying for OSGeo Incubation
                    Take a look at the [application](https://wiki.osgeo.org/wiki/Oskari_Incubation_Application)

          div.panel.panel-warning
            div.panel-body
              :markdown
                #### Developer blog
                  News and tidings can be found in the [blog](https://oskariorg.github.io/)


          div.panel.panel-warning
            div.panel-body
               <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/oskari_org">Tweets by oskari_org</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>