extends layout

block main
  
  div.container
    div.jumbotron
      h1. Developer Web Site for Oskari Platform

      div.row
          p. The mission of Oskari platform is to offer easy-to-use, browser-based tools to access and re-use information from various data sources, including the INSPIRE Spatial Data Infrastructure (SDI) and the Finnish National SDI.
          <a href="http://demo.oskari.org/" target="_blank"><img src="/images/demosite.png" class="img-responsive" alt="Responsive image">
          </a>

          p. Click the picture to try the Oskari demo application and get to know to the features of the Oskari Platform!  

  div.container
    div.col-md-4
      h2. Open Source
      h4. All the developed code is released within the framework of Open Source Licenses (MIT/EUPL). Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery.

    div.col-md-4
      :markdown
        ##What is Oskari Platform?
        ####Visualize and analyse spatial and statistical data, create embedded maps without programming, customize your own web map service... Check out the many possibilities of the Oskari Platform [here](/oskari)!

    div.col-md-4
      :markdown
        ## Get started!
        #### Get started with Oskari by studying [the guides](/guides)!     

  <hr>

  div.container
    div.col-md-6
      div.panel.panel-warning
          div.panel-heading
            h4. How is Oskari implemented?

          div.panel-body
            :markdown
              * Oskari user interface is implemented as a collection of reusable bundles. Bundles are used as uniform containers to ship and share new functionality to the application setups. 

              * Additions to existing functionality are implemented as Plugins shipped within the bundles. 

              * Server-side functionality of the platform is implemented as a Java servlet, which can also be extended to handle new functionality. 

              * Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery. The developed Open Source code stitches these applications together and makes it possible to extend the functionality of the platform in a coordinated manner.

              * The Oskari Platform enables controlled extensibility. Service platform is kept flexible: functionality can be added as well as to the user interface and to the server, and the application libraries can be changed.
      

    div.col-md-6
      div.panel.panel-warning
        div.panel-heading
          h4. Latest news:


        div.panel-body
          div.panel.panel-warning
            div.panel-body
              :markdown
                #### Security issue found in versions 1.24.0-1.24.4!
                  The preprocess-method call was commented out on Oskari versions 1.24.0-1.24.4. This is a serious security issue as many of the admin functionalities depend on preprocess() to check that the user is an admin. On affected versions even Guest-users can use the admin functionalities.

                  We recommend you to update your application to version 1.24.5 to avoid this security risk. 

                  Hotfix available: https://github.com/nls-oskari/oskari-server/blob/master/ReleaseNotes.md#1245---security-patch

          div.panel.panel-warning
            div.panel-body
              :markdown
                #### **Oskari Challenge is Open!**
                  We challenge you to think of brilliant ways to enhance Oskari! Best application/bundle and best concept are awarded! 
                  Proposals are due by 31st of January 2015. 
                  [Read more!](/challenge)

          div.panel.panel-warning
            div.panel-body
              :markdown
                #### Download Oskari quickly as one zip-file! 
                  See more on [Download](/download)

          div.panel.panel-warning
            div.panel-body
              :markdown
                #### FOSS4G 2014
              div.row
                div.col-md-3
                  :markdown
                    [![FOSS4G logo](/images/foss4g_logo.png)](https://2014.foss4g.org/)

                div.col-md-9
                  :markdown
                    Oskari team took part to the annual [FOSS4G conference](https://2014.foss4g.org/), which is the largest
                    global gathering focused on open source geospatial software.

                    See the workshop presentation from [here](http://oskari.org/presentations/Oskari_FOSS4G_Workshop.pdf)!


  