extends layout

block main

  div.container

    div.frontpage-logobar
      <img src="/logo.png" class="img-responsive" alt="Oskari">
    div.jumbotron

      div.row
          p. Oskari is a tool for easily building multipurpose web mapping applications utilizing distributed Spatial Data Infrastructures like INSPIRE.
          <a href="http://demo.oskari.org/" target="_blank"><img src="/images/frontpage_example.png" class="img-responsive" alt="Responsive image">
          </a>

          p. Click the picture to try the Oskari demo application and get to know the features of Oskari.

  div.container
    div.col-md-4
      h2. Open Source
      h4. All the developed code is released under Open Source Licenses (MIT/EUPL). Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery.

    div.col-md-4
      :markdown
        ## What is Oskari?
        #### Visualize and analyse spatial and statistical data, create embedded maps without programming, customize your own web map service etc. Check out the many possibilities of Oskari [here](/oskari).

    div.col-md-4.oskari-network
      :markdown
        ## Oskari Network
        #### Oskari Network is the stakeholder community of Oskari software. The [website](http://verkosto.oskari.org/) is in Finnish.
        #### [T채st채](http://verkosto.oskari.org/) p채채set Oskari-verkoston suomenkieliselle sivustolle.

  <hr>

  div.container
    div.col-md-6
      div.panel.panel-warning
          div.panel-heading
            h4. How is Oskari implemented?

          div.panel-body
            :markdown
              * Oskari user interface is implemented as a collection of reusable bundles. Bundles are used as uniform containers to ship and share new functionality to the application setups.

              * Additions to existing functionality are implemented as Plugins shipped within the bundles.

              * Server-side functionality of the platform is implemented as a Java servlet, which can also be extended to handle new functionality.

              * Oskari uses standard Open Source components such as OpenLayers, GeoTools, GeoServer, Jackson and jQuery. The developed Open Source code stitches these applications together and makes it possible to extend the functionality of the platform in a coordinated manner.

              * Oskari enables controlled extensibility. The service platform is kept flexible: functionality can be added both to the user interface and the server, and the application libraries can be changed.


    div.col-md-6
      div.panel.panel-warning.news-panel
        div.panel-heading
          h4. Latest news:


        div.panel-body
          div.panel.panel-warning
              div.panel-body
                :markdown
                  #### Oskari team is taking part in FOSS4G in Bonn 24.-26.8.!
                    [![FOSS4G](/images/foss4g-logo_2016.png)](http://2016.foss4g.org/)

                    Oskari presentations (schedule TBA):

                    ![Clock](/clock.png) 24.8. 14:00 - 14:30

                    * [Kickstart your web map app!](http://2016.foss4g.org/talks.html#273)

          div.panel.panel-warning
            div.panel-body
              :markdown
                #### Oskari Network seminar 7th of April 2016
                  <a href="http://www.paikkatietoikkuna.fi/web/en/map-window?ver=1.17&zoomLevel=11&coord=385601.469_6675240.376&mapLayers=base_35+100+default&markers=4|5|f8931f|385562.469_6675361.876|Opastinsilta%2012" target="_blank">@Pasilan virastokeskus, Opastinsilta 12, Helsinki</a>

                 Topics include:

                 ![Clock](/clock.png) 9-12 Seminar

                 - New features in Oskari
                 - Demos featuring Oskari enabled apps
                 - Steering committee representatives selection

                ![Clock](/clock.png) 13-15 Oskari architecture meeting

                More info coming soon!