extends layout

block main
  :markdown
    # Oskari Platform

  div.row
    div.col-md-5
      :markdown
        ## What is Oskari Platform?
        ### Oskari.org is an open source platform for browsing, sharing and analyzing of geographic information from distributed data sources.
        ### With Oskari Platform you can

        * connect  to  standard  OGC data  sources

        * create a fully functional embedded map in 10 minutes without programming

        * create thematic maps

        * add your own  data  or dataset

        * perform spatial analysis

        * publish thematic maps and analysis results as functional embedded maps

        ### Unleash your data by using Oskari Platform!

        
    div.col-md-7
      div.panel.panel-warning
        div.panel-heading
          <img src="/images/oskari_platform.png" class="img-responsive" alt="Responsive image">

  div.row
    div.col-md-6
      div.panel.panel-info
        div.panel-heading
          :markdown
            ## Ways to use Oskari Platform:
            ### Visualize statistical or geographical information by using existing Oskari installation
            * You can mix and match various geographical and statistical data sources
            * Import your own data or use standard OGC service interfaces as data source

            ### Create custom map on your web site
            * Use existing Oskari installation to create embedded map to your web site
            * Add the layers you want to show and choose the functionalities and size of the map. You can also import your own data to be shown on an embedded map!
            * No programming is needed!

            ### Create your customized web map service using Oskari Platform
            * Download Oskari source code and start to develop your own application
            * You can use both Oskari UI and Oskari service platform or only UI, in which case you need your own service platform

    div.col-md-6
      :markdown
        ## Application areas of Oskari Platform:
        ### Information services
        The Oskari Platform helps businesses and municipalities offer better online and mobile map services to their citizens and consumers.
        ### E-government services
        The Platform allows the interleaving and integration of many different sources of geographical and statistical data into online map visualizations that help power e-government services and decision making processes.
        ### Situational awareness services
        Oskari Platform can display real-time data on a map, e.g. current traffic jams, construction areas or traffic cameras. This makes it really easy to inform citizens about changing circumstances or situations they might be interested in.
        ### Tools of knowledge management
        Visualizing statistical information on a map helps empowerment of citizens in decision making processes that affect them. Spatial phenomena can be analyzed and results of spatial analysis published as embedded maps using tools provided by Oskari.

  div.row
      div.panel.panel-warning
        div.panel-heading
          :markdown
            ## Where is Oskari Platform used?
        div.panel-body
          div.col-md-5
            :markdown
              ### Oskari is in use:
              * [Finnish Geoportal](http://www.paikkatietoikkuna.fi/web/en/map-window)
              * [Geoportal of Tampere city](http://paikkatietopalvelu.tampere.fi/)
              * [National Land Survey of Finland: Hallinnon karttapalvelu](http://www.maanmittauslaitos.fi/aineistot-palvelut/verkkopalvelut/hallinnon-karttapalvelu/palvelun-esittely/esimerkkeja)
              * [Lupapiste](https://www.lupapiste.fi/)
              * [eHarava](http://query.eharava.fi/325?lang=en)
              * [Liikenneviraston tiedostolatauspalvelu](https://extranet.liikennevirasto.fi/extranet/web/public/latauspalvelu)
              ### Embedded maps:
              * [Service points of NLS](http://www.maanmittauslaitos.fi/toiminta/yhteystiedot/palvelupisteet-kartalla)
              * [TE-palvelut: työpaikkahaku](http://www.te-palvelut.fi/te/fi/index.html)
              * [Valkeakosken karttapalvelu](http://www.valkeakoski.fi/portal/suomi/tekniset_palvelut/kartat+ja+mittauspalvelut/karttapalvelu#)
              * [Paimion liikuntatoimi](http://paimio.fi/palvelut/liikunta_ja_ulkoilu)
              ### Ongoing projects:
              * European Location Framework
              * [Arctic SDI](http://arctic-sdi.org/)
              * SYKE:n ja Ympäristöministeriön Liiteri-palvelu

          div.col-md-7
            :markdown
              Finnish Geoportal
              <img src="/images/paikkatietoikkuna.PNG" border="1" class="img-responsive" alt="Responsive image">


              



   








          
