.add {
    color : green;
}
.mod {
    color : orange;
}
.rem {
    color : red;
}

.breaking {
    background-color : red;
}

.bundlenavi:hover {
    text-decoration: underline;
}

.event-code-block {
	max-height: 400px;
	overflow: auto;
}
.version-panel .panel-body  label {
	float: right;
}
.panel-default.generated ul {
	padding-left : 0;
}
.panel-default.generated ul li {
	list-style : none;
}
#bundlecontent span.label.label-primary.rpc {
	float : right;
	margin-left: 4px;
	margin-right: 4px;
}

#bundlecontent span.label.label-primary.breaking {
	float : right;
	margin-left: 4px;
	margin-right: 4px;
}

.navi-section h4 {
	text-transform: capitalize;
}

.navi-section p {
	font-size: 15px;
}

.panel-heading label {
	float: right;
}