.add {
    color : green;
}
.mod {
    color : orange;
}
.rem {
    color : red;
}
.bundlenavi:hover, .requestnavi:hover, .eventnavi:hover {
    text-decoration: underline;
}

.event-code-block {
	max-height: 400px;
	overflow: auto;
}