.centered-layout(@padding: 0) {
    max-width: 1000px;
    min-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: @padding;
}

html {
    min-height: 100%;
}

body {
    background: #e8ecef; /* Old browsers */
    background: -moz-linear-gradient(top,  #e8ecef 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8ecef), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e8ecef 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e8ecef 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e8ecef 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e8ecef 0%,#fcfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecef', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}

div.nav-content {
    .centered-layout(0 0 2em 0);
    height: 60px;
    border-bottom: 3px solid red;
}

div.oskari-logo {
    float: left;
    font-size: 3em;
    font-weight: bold;
    padding-top: 10px;
}

nav {
    margin-right: 1em;
    float: right;
    font-size: 1.2em;
    ul {
        padding: 0;
        li {
            display: inline-block;
            margin-left: 1em;
            list-style-type: none;
            padding-top: 10px;
            border-top: 5px solid transparent;
            a:hover {
                text-decoration: none;
            }
        }
        li:first-child {
            margin-left: 0;
        }
        li:hover, li.active {
            border-top: 5px solid red;
        }
    }
}

div.main-content {
    .centered-layout(1em);
}

div.footer-content {
    .centered-layout(1em);
}

a.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    img {
        border: 0;
    }
}

div.well h3 {
    margin-top: 0;
}