@font-face {
    font-family: LondonBetween;
    src: url('/fonts/LondonBetween.ttf');    
}

@header-color: #e8ecef;

.centered-layout(@padding: 0) {
    max-width: 1000px;
    min-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: @padding;
}

html {
    min-height: 100%;
}

body {
    background-image: url('/images/main-bg.png');
}

body, p {
    color: #525252;
}

h1, h2, h3, h4, h5, h6 {
    font-family: LondonBetween;
    color: #260303;
}

div.header {
    width: 100%;
    background-image: url('/images/header-bg.png');
    border-bottom: 1px solid #800000;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);

    div.nav-content {
        .centered-layout(0 0 2em 0);
        height: 60px;
    }

    div.oskari-logo {
        p {
            color: @header-color;
            font-family: 'Lily Script One', cursive;
            -webkit-font-smoothing: antialiased;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
            font-size: 3em;
        }
        float: left;
    }

    nav {
        margin-right: 1em;
        float: right;
        font-size: 1.2em;
        ul {
            padding: 0;
            li {
                display: inline-block;
                margin-left: 1em;
                list-style-type: none;
                padding-top: 10px;
                border-top: 5px solid transparent;
                a {
                    color: @header-color;
                }
            }
            li:first-child {
                margin-left: 0;
            }
            li:hover, li.active {
                a {
                    text-decoration: none;
                    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
                }
            }
        }
    }
}

div.main {
    width: 100%;
    border-top: 1px solid #969696;

    div.main-content {
        .centered-layout(1em);
    }
}

div.footer-content {
    .centered-layout(1em);
}

a.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    img {
        border: 0;
    }
}

div.well h3 {
    margin-top: 0;
}

div.bundle-menu {
    margin-top: 20px;
}
ul.bundle-navigation {
    height: auto;
    max-height: 400px;
    overflow-y: auto;
}