#map { 
  /* Map element placement */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  /* Other styles */
  background: lime;
} 

nav {
  /* Navigation element placement */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 75%;
  
  /* Other styles */
  padding: 15px;
  overflow: auto;
}

/* Highlighted menu item */
li.highlight {
  color: orange;
}

/* So description is not orange */
div.panel-collapse.poi-description {
  color: black;
}